*{
    box-sizing: border-box;
}
/*가로 세로 사이즈에 맞게 padding, border 길이를 고려해줌
별모양은 아래 전체에 적용한다는 뜻. p2 참고*/

body {
    background-color: aqua
}

h1 {
    border: 5px solid red;
    width: 500px;
    height: 300px;
}
e
.p1 {
    width: 400px;
    border: 5px solid green;
    padding: 50px;
    border-radius: 50px;
    /*background-color: transparent;
    backgournd-color: rgb(232, 95, 20);*/
    overflow: scroll; 
    /*(hidden, visible, auto), 그러나 scroll 있을 때는 내용 짧은 경우에도 나타남*/
    box-shadow: 50px -30px 50px -10px red;
    /*가로 세로 퍼짐 정도 그림자크기 색깛*/

}.p2{
    border: 5px solid red;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 50px;
    width: 300px;
    height: 200px;
    padding: 35px;
    overflow: scroll; 
}.p3{
    border: 5px solid red;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 50px;
    overflow: scroll; 
}

    /*padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 80px;
    padding-right: 65px; 위 네줄과 아래 한 줄 같음
    padding: 50px 65px 20px 80px; */

    /* margin도 마찬가지로 margin: 위 오른쪽 아래 왼쪽; 
    위 아래, 왼쪽 오른쪽만 같으면 margin: (위아래)px (왼오)px;
    /*margin: 0 auto; 위아래 왼쪽 오른쪽 0픽셀, auto는 가운데 정렬*/

    /*padding과 margin의 차이
    padding: 내용과 테두리 사이의 여유공간
    margin: 요소 주위의 여백(테두리 밖의 공간)*/